.main-container{
    display: flex;
    flex-direction: column;
}


header{
    height: 60px;
}

.header-content{
    padding: 6px;
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

#google-apps-container{
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

#google-apps-container span{
    
    margin-right: 10px;
    color: #5f6368;
}

#sign-in{
    height: 36px;
    width: 96px;
    background-color: #1a73e8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-right: 12px;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.25px;
    font-weight: 500;
}

#gmail,
#images{
    color: #000000DE;
    padding: 2px;
    margin-top: -2px;
    margin-right: 1px;
}

#gmail:hover,
#images:hover{
    text-decoration: underline;
    cursor: pointer;
}

#logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92px;
    max-height: 290px;
    height: calc(100% - 560px);
}

.search-bar-container{
    height: 48px;
    display: flex;
    width: 584px;
    margin: 0 auto;
    margin-top: 24px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    background: #fff;
    flex-shrink: 0;
    align-items: center;
}

.search-bar-container:hover{
    box-shadow: 0 0 3px 3px rgb(241, 240, 240);
    border: 1px solid rgb(231, 226, 226);
}

.search-bar-container > #search{
    height: 100%;
    /* width: 100%; */
    display: block;
    padding: 12px 0 10px 13px;
    font-size: 21px;
    color: rgb(167, 163, 163);
}

#search-field{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-top: -6px;
    width: 443px;
    border: white;
    outline: none;
    line-height: 27px;
    height: 27px;
    font-size: 17px;
    margin-left: 10px;
}

#mic,
#camera{
    display: flex;
    justify-content: flex-end;
    width: 60px;
    height: 24px;
    align-items: center;
    margin-top: -2px;
    position: relative;
    cursor: pointer;
}

#camera{
    margin-right: 16px;
}

#mic{
    margin-right: 8px;
}

#mic > img{
    height: 24px;
    padding: 2px;
}
#camera > img{
    height: 24px;
    padding: 3px;
}

.drop-down{
    display: block;
    width: 0;
    border: 5px solid;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: rgba(0, 0, 0, 0.747);
    position: absolute;
    top: 145%;
    transform: translateY(-50%);
    margin-right: 5px;
    visibility: hidden;
}

#mic > .drop-down{
    margin-right: 4px;
}

#mic:hover .drop-down,
#camera:hover .drop-down{
    visibility: visible;
}

#mic .tooltiptext-1,
#camera .tooltiptext-2 {
    visibility: hidden;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.795);
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 5px 0;
    font-size: 11px;
    height: 25px;
   
    position: absolute;
    top: 165%;
    right: -40px;
 
  }

#mic:hover .tooltiptext-1, 
#camera:hover .tooltiptext-2 {
    visibility: visible;
}




