.main-container{
    display: flex;
    flex-direction: column;
}


header{
    height: 60px;
}

.header-content{
    padding: 6px;
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

#google-apps-container{
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#google-apps-container span{
    
    margin-right: 10px;
    color: #5f6368;
}

#sign-in{
    height: 36px;
    width: 96px;
    background-color: #1a73e8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-right: 12px;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.25px;
    font-weight: 500;
}

#gmail,
#images{
    color: #000000DE;
    padding: 2px;
    margin-top: -2px;
    margin-right: 1px;
}