* {
    box-sizing: border-box;
}

body{
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #202124;
}

@media all and (prefers-color-scheme: dark) {
    #google-logo{
        content: url("/img/google-logo-dark.png");
        width: 272px;
        height: 92px;
    }
}