* {
    box-sizing: border-box;
}

body{
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #202124;
}

@media all and (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}